<!DOCTYPE html>
<html lang="en">
<!-- Header starts -->

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.4.7/angular-sanitize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.8/select.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
  <script src="js/app.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.8/select.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.min.css">
  <link rel="stylesheet" href="css/styles.css" />
  <meta charset="utf-8">
  <title>Translate.com Website Localizer</title>
</head>
<!-- Header ends -->

<body>
  <div class="container" ng-app="translate" ng-controller="app_controller">
    <!-- Login popup screen starts -->
    <script type="text/ng-template" id="logout.html">
      <div class="modal-body">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="row text-center">
          <h3>Account Disconnected</h3>
        </div>
      </div>
    </script>
    <!-- Login popup screen starts -->
    <script type="text/ng-template" id="modal.html">
      <!-- Modal body starts -->
      <div class="modal-body" ng-show="!is_loading">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="login_header text-center" ng-if="form_type == 1">
          <p>Please login to the Translate.com account that</p>
          <p><b>{{user.domain}}</b> is connected to.</p>
        </div>
        <div class="login_header text-center" ng-if="form_type == 2">
          <p>If you already have a Translate.com account, plase login now.</p>
        </div>
        <div class="login_header text-center" ng-if="form_type == 3">
          <p><b>{{user.email}}</b> already has an account registered with Translate.com.</p>
          <br/>
          <p>If you’d like to use this account, enter the password below. </p>
        </div>
        <!-- Start of panel body -->
        <div class="row">
          <!-- Start of login form -->
          <div class="col-md-10 col-md-offset-1">
            <!-- Start of error message -->
            <div uib-alert class="alert-danger" ng-show="err_msg != ''">{{err_msg}}
            </div>
            <div uib-alert class="alert-warning" ng-show="invalid_plan == true">
              <p>This account is setup as a Custom Plan and unfortunately our integrations do not support this plan type. Please <a href="mailto:support@translate.com">contact support </a> for assistance.</p>
            </div>
            <div uib-alert class="alert-warning" ng-show="err_wrong_account == true">
              <p>That account is not connected to <b>{{user.domain}}</b>.</p>
              <p>Please try again or <a href="mailto:support@translate.com">contact support </a> for assistance.</p>
            </div>
            <!-- End of error message -->
            <form name="login_form">
              <div class="form-group" ng-if="form_type != 3">
                <input type="email" class="custom-input form-control" ng-model="user.email" placeholder="Email Address" required>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <input type="{{password_type}}" class="custom-input form-control" ng-model="user.password" placeholder="Password" required>
                  <div class="input-group-addon btn" ng-click="password_type = (password_type == 'password') ? 'text' : 'password'">
                    <span class="fa" ng-class="{'fa-eye-slash': password_type == 'text', 'fa-eye': password_type == 'password'}"></span>
                  </div>
                </div>
              </div>
              <div class="error-links"><a href="https://www.translate.com/reset_password" target="_blank">Forgot Password?</a></div>
              <div class="form-group text-center">
                <input type="submit" ng-click="login_form.$valid && login_user()" class="btn btn-info next-btn btn-lg login-btn" value="Login">
              </div>
            </form>
          </div>
          <!-- End of login form -->
        </div>
        <!-- End of panel body -->
      </div>
      <!-- Modal body ends -->
      <div class="modal-body" ng-show="is_loading">
        <div class="row text-center">
          <img src="img/loader.gif" class="loader" />
        </div>
      </div>
    </script>
    <!-- Adding Translate.com Drupal banner -->
    <div class="row text-center">
      <img src="img/drupal.png" alt="Translate.com for Drupal" class="logo" />
    </div>
    <!-- Translate.com Drupal banner ends -->
    <!-- Start of panel -->
    <div class="panel panel-default" ng-switch="step" ng-class="{forward: direction, backward:!direction}">
      <!-- Start of first screen -->
      <div class="panel-body animate-switch" ng-switch-default>
        <!-- Start of panel header text -->
        <div class="row">
          <h6 class="col-md-12 welcome-text">Thanks for downloading Translate.com’s Website Localizer.
          </h6>
        </div>
        <!-- End of panel header text -->
        <!-- Start of website_form -->
        <form name="website_form">
          <!-- Start of row -->
          <div class="row">
            <div class="form-group">
              <label for="website" class="col-md-12 cus-label">To get setup, first <b>enter the web address</b> of your current Drupal site. (With http:// or https://)</label>
              <div class="col-md-6">
                <input ng-change="check_url()" type="url" class="form-control cus-in" id="website" ng-model="user.domain" required/>
              </div>
            </div>
            <div class="col-md-9">
              <div class="alert alert-warning yellow_error" role="alert" ng-show="site_exists">
                <i class="fa fa-warning"></i> This URL is already connected to a Translate.com account. <a href="#" ng-click="show_login(1)"><b>Click here to login.</b></a> </div>
            </div>
            <div class="form-group">
              <label for="language" class="col-md-12 cus-label">Next, <b>select the language your website is currently in:</b></label>
              <div class="col-md-6">
                <select class="form-control cus-in" id="language" ng-model="user.language" ng-change="update_translation_langs()" required>
                  <option ng-repeat="lang in source_langs | orderBy:'name'" value="{{lang.abbr}}" ng-selected="user.language == lang.abbr">{{lang.name}}</option>
                </select>
              </div>
            </div>
            <!-- Start of progess bar -->
            <div class="row">
              <div class="text-center col-md-4 col-md-offset-4 pgbar">
                <button type="button" class="btn btn-default btn-circle" ng-click="website_form.$valid && next_step(1)" ng-class="{prog : step==1}"></button>
                <button type="button" class="btn btn-default btn-circle" ng-click="website_form.$valid && next_step(2)" ng-class="{prog : step==2}"></button>
                <button type="button" class="btn btn-default btn-circle" ng-click="!(user.translation_languages.length <= 0) && next_step(3)" ng-class="{prog : step==3}"></button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary cus-btn" ng-click="website_form.$valid && next_step(2)" ng-disabled="site_exists">Next <i class="fa fa-angle-right" aria-hidden="true"> </i></button>
              </div>
            </div>
            <!-- End of progess bar -->
          </div>
          <!-- End of row -->
        </form>
        <!-- End of website_form -->
      </div>
      <!-- End of first screen -->
      <!-- Start of second screen -->
      <div class="panel-body animate-switch" ng-switch-when="2">
        <!-- Start of panel header text -->
        <div class="row welcome-div">
          <div class="col-md-12">
            <h6 class="welcome-text">Next, Select Your Translation Languages</h6>
          </div>
          <!-- End of welcome text -->
        </div>
        <!-- End of panel header text -->
        <!-- Start of panel body -->
        <div class="row">
          <!-- Start of left part -->
          <div class="col-md-6">
            <h4 class="sel-head">Translate your website from <em>{{speakers[user.language].name}}</em> to:</h4>
            <!-- Start of search input -->
            <div class="input-group">
              <input type="text" class="form-control language-search" placeholder="Type to filter..." ng-model="query">
              <div class="input-group-btn">
                <button class="btn btn-default search-btn" type="submit"><img class="srch-img" src="img/search.svg" /></button>
              </div>
            </div>
            <!-- End of search input -->
            <!-- Start of language list -->
            <div class="languages">
              <ul>
                <li ng-repeat="lang in trans_langs | filter: query | orderBy:'name'" class="t-languages" ng-class="{'selected': user.translation_languages.indexOf(lang.abbr) > -1}" ng-click="select_language($event, lang.abbr)" ng-mouseleave="remove_language($event)">{{lang.name}}<span class="speakers"><small class="speakers">{{lang.speakers}} Speakers</small></span></li>
              </ul>
            </div>
            <!-- End of language list -->
            <p class="lang-count"> {{langs_count}} of {{plan.langs_count}} languages chosen with <strong>{{plan.name}}</strong> plan.</p>
          </div>
          <!-- End of left part -->
          <!-- Start of right part -->
          <div class="col-md-6">
            <h4 class="sel-head">Choose a plan with <b>Translate.com:</b></h4>
            <div class="row plan-row">
              <!-- Start of plan list -->
              <div class="plan-container">
                <div class="col-md-12 bg plan" ng-click="change_plan('Enterprise')" ng-class="{'bg-active': plan.name == 'Enterprise'}">
                  <p class="hidden-xs sprticon col-md-4 sprite sprite--building"></p>
                  <div class="col-md-9 ">
                    <h4 class="plan-name">Enterprise - {{plans[3].langs_count}} Languages</h4>
                    <h4 class="views">{{plans[3].page_views}} page views / month</h4>
                    <h4 class="price">${{plans[3].price}}/month</h4>
                  </div>
                </div>
                <div class=" col-md-12 bg plan" ng-click="change_plan('Professional')" ng-class="{'bg-active': plan.name == 'Professional', 'bg-deact': langs_count > 15 }">
                  <p class="hidden-xs sprticon col-md-4 sprite sprite--briefcase"></p>
                  <div class="col-md-9  ">
                    <h4 class="plan-name">Professional - {{plans[2].langs_count}} Languages</h4>
                    <h4 class="views">{{plans[2].page_views}} page views / month</h4>
                    <h4 class="price">${{plans[2].price}}/month</h4>
                  </div>
                </div>
                <div class="col-md-12 bg plan" ng-click="change_plan('Starter')" ng-class="{'bg-active': plan.name == 'Starter', 'bg-deact': langs_count > 5}">
                  <p class="hidden-xs sprticon col-md-4 sprite sprite--rocket"></p>
                  <div class="col-md-9  ">
                    <h4 class="plan-name">Starter - {{plans[1].langs_count}} Languages</h4>
                    <h4 class="views">{{plans[1].page_views}} page views / month</h4>
                    <h4 class="price">${{plans[1].price}}/month</h4>
                  </div>
                </div>
                <div class="col-md-12 bg plan" ng-click="change_plan('Free')" ng-class="{'bg-active': plan.name == 'Free', 'bg-deact': langs_count > 2 }">
                  <p class="hidden-xs sprticon col-md-4 sprite sprite--heart"></p>
                  <div class="col-md-9  ">
                    <h4 class="plan-name">Free - {{plans[0].langs_count}} Language</h4>
                    <h4 class="views">{{plans[0].page_views}} page views / month</h4>
                    <h4 class="price">Free (Homepage only, up to 200 words)</h4>
                  </div>
                </div>
              </div>
              <!-- End of plan list -->
            </div>
            <a href="https://translate.com/pages/pricing" target="_blank">
                    Click here for more information about our plans  <i class="fa fa-external-link-square" aria-hidden="true"></i></a>
          </div>
          <!-- End of right part -->
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center login_popup">
            <i class="fa fa-user-circle"></i> Already have a Translate.com account? <a href="#" ng-click="show_login(2)"><b>Login here</b></a>
          </div>
        </div>
        <!-- Start of progess bar -->
        <div class="row">
          <div class="col-md-4 back-link">
            <a ng-click="next_step(1)" href="#"><i class="fa fa-angle-left" aria-hidden="true"> </i> back</a>
          </div>
          <div class="text-center col-md-4 pgbar">
            <button type="button" class="btn btn-default btn-circle" ng-click="next_step(1)" ng-class="{prog : step==1}"></button>
            <button type="button" class="btn btn-default btn-circle" ng-click="next_step(2)" ng-class="{prog : step==2}"></button>
            <button type="button" class="btn btn-default btn-circle" ng-click="!(user.translation_languages.length <= 0) && next_step(3)" ng-class="{prog : step==3}"></button>
          </div>
          <div class="col-md-4">
            <button type="submit" ng-click="show_plan_popup()" class="btn btn-primary cus-btn btn-lg" ng-disabled="langs_count == 0">Next <i class="fa fa-angle-right" aria-hidden="true"></i></button>
          </div>
        </div>
        <!-- End of progess bar -->
        <!-- End of panel body -->
      </div>
      <!-- End of second screen -->
      <div class="panel-body animate-switch" ng-switch-when="8">
        <!-- Start of panel header text -->
        <div class="row welcome-div">
          <div class="col-md-12">
            <h6 class="welcome-text">Payment Details</h6>
          </div>
          <!-- End of welcome text -->
        </div>
        <!-- End of panel header text -->
        <div class="row">
          <!-- Start of message text -->
          <div class="col-md-12">
            <p class="final-detail-text">To get you started with the <b>{{plan.name}} Plan</b>, please enter your credit or debit card information.</p>
            <br/>
            <p class="plan_price"><b>{{plan.name}} Plan : </b> ${{plan.price}} / month</p>
          </div>
          <!-- End of message text -->
        </div>
        <!-- Start of credit card form -->
        <form name="payment_form">
          <!-- Start of panel body -->
          <div class="row">
            <!-- Start of column -->
            <div class="col-md-6">
              <!-- Start of error message -->
              <div uib-alert class="alert-danger" ng-show="err_msg != ''">
                {{err_msg}}
              </div>
              <!-- End of error message -->
              <div class="form-group">
                <input type="text" class="custom-input form-control" ng-model="payment.card_name" placeholder="Name on Card" required ng-disabled="is_card_saving">
              </div>
              <div class="row">
                <div class="form-group col-md-5">
                  <input type="text" class="custom-input form-control" ng-model="payment.card_number" placeholder="Card Number" ng-change="detect_card()" required ng-disabled="is_card_saving">
                </div>
                <div class="col-md-2 card_logo" ng-show="show_card_logo">
                  <img src="img/{{credit_card_logo}}" />
                </div>
                <div class="form-group col-md-3">
                  <input type="text" class="custom-input form-control" ng-model="payment.card_expire" placeholder="MM/YY" pattern="\d{2}\/\d{2}" required ng-disabled="is_card_saving">
                </div>
                <div class="form-group col-md-2">
                  <input type="password" class="custom-input form-control" ng-model="payment.card_cvv" placeholder="CVV" maxlength="4" required ng-disabled="is_card_saving">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-8">
                  <ui-select ng-model="payment.card_country" theme="selectize" title="Country" ng-disabled="is_card_saving">
                    <ui-select-match placeholder="Country">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="country in countries | filter: $select.search">
                      <span ng-bind-html="country.name | highlight: $select.search"></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
                <div class="form-group col-md-4">
                  <input type="text" class="custom-input form-control" ng-model="payment.card_zip" placeholder="Zip Code" ng-hide="!(payment.card_country.code == 'US' || payment.card_country.code == 'GB' || payment.card_country.code == 'CA')" ng-disabled="is_card_saving">
                  <input type="text" class="custom-input form-control" ng-model="payment.card_zip" placeholder="Postal Code" ng-show="payment.card_country.code == 'GB'" ng-disabled="is_card_saving">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p><i class="fa fa-lock" aria-hidden="true"></i> Your information is encrypted and stored securely</p>
                </div>
              </div>
            </div>
            <!-- End of column -->
          </div>
          <!-- Start of progess bar -->
          <div class="row">
            <div class="col-md-4 back-link">
              <a ng-click="next_step(2)" href="#"><i class="fa fa-angle-left" aria-hidden="true"> </i> back</a>
            </div>
            <div class="text-center col-md-4 pgbar">
              <button type="button" class="btn btn-default btn-circle" ng-click="next_step(1)" ng-class="{prog : step==1}"></button>
              <button type="button" class="btn btn-default btn-circle" ng-click="next_step(2)" ng-class="{prog : step==2}"></button>
              <button type="button" class="btn btn-default btn-circle" ng-click="!(user.translation_languages.length <= 0) && next_step(3)" ng-class="{prog : step==3}"></button>
            </div>
            <div class="col-md-4">
              <input type="submit" ng-click="payment_form.$valid && save_credit_card()" class="btn btn-info next-btn cus-btn" value="Done!">
            </div>
          </div>
          <!-- End of progess bar -->
        </form>
        <!-- End of payment form -->
      </div>
      <!-- Start of logged in plan screen -->
      <div class="panel-body animate-switch" ng-switch-when="7">
        <!-- Start of panel header text -->
        <div class="row welcome-div">
          <div class="col-md-12">
            <h6 class="welcome-text">Next, Select Your Translation Languages</h6>
          </div>
          <!-- End of welcome text -->
        </div>
        <!-- End of panel header text -->
        <!-- Start of panel body -->
        <div class="row">
          <!-- Start of left part -->
          <div class="col-md-6">
            <h4 class="sel-head">Translate your website from <em>{{speakers[user.language].name}}</em> to:</h4>
            <!-- Start of search input -->
            <div class="input-group">
              <input type="text" class="form-control language-search" placeholder="Type to filter..." ng-model="query">
              <div class="input-group-btn">
                <button class="btn btn-default search-btn" type="submit"><img class="srch-img" src="img/search.svg" /></button>
              </div>
            </div>
            <!-- End of search input -->
            <!-- Start of language list -->
            <div class="languages">
              <ul>
                <li ng-repeat="lang in trans_langs | filter: query | orderBy:'name'" class="t-languages" ng-class="{'selected': user.translation_languages.indexOf(lang.abbr) > -1}" ng-click="select_language($event, lang.abbr)" ng-mouseleave="remove_language($event)">{{lang.name}}<span class="speakers"><small class="speakers">{{lang.speakers}} Speakers</small></span></li>
              </ul>
            </div>
            <!-- End of language list -->
            <p class="lang-count"> {{langs_count}} of {{plan.langs_count}} languages chosen with <strong>{{plan.name}}</strong> plan.</p>
          </div>
          <!-- End of left part -->
          <!-- Start of right part -->
          <div class="col-md-6 text_shadow">
            <p>Welcome back, {{user.first_name}}</p>
            <h3>You are on <b>{{plan.name}}</b> plan:</h3>
            <div class="plan_details {{plan.icon}}">
              <ul>
                <li>Website Localizer</li>
                <li>{{plan.langs_count}} translation languages</li>
                <li>{{plan.page_views}} page views / month</li>
                <li>{{plan.mt}} machine translations words / month</li>
                <li>{{plan.ht}} human translation words / month</li>
              </ul>
            </div>
            <div class="more_plans">
              <a href="https://translate.com/pages/pricing" target="_blank">
                      Click here for more information about our plans  <i class="fa fa-external-link-square" aria-hidden="true"></i></a>
            </div>
            <div class="pull-right">
              <a href="#" ng-click="reset_user()">Need to use a different account?</a>
            </div>
          </div>
          <!-- End of right part -->
        </div>
        <!-- Start of progess bar -->
        <div class="row">
          <div class="col-md-4 back-link">
            <a ng-click="next_step(1)" href="#"><i class="fa fa-angle-left" aria-hidden="true"> </i> back</a>
          </div>
          <div class="text-center col-md-4 pgbar">
            <button type="button" class="btn btn-default btn-circle" ng-click="next_step(1)" ng-class="{prog : step==1}"></button>
            <button type="button" class="btn btn-default btn-circle" ng-click="next_step(2)" ng-class="{prog : step==2}"></button>
            <button type="button" class="btn btn-default btn-circle" ng-click="!(user.translation_languages.length <= 0) && next_step(3)" ng-class="{prog : step==3}"></button>
          </div>
          <div class="col-md-4">
            <button type="submit" ng-click="add_new_site()" class="btn btn-primary cus-btn btn-lg" ng-disabled="langs_count == 0">Done! <i class="fa fa-angle-right" aria-hidden="true"></i></button>
          </div>
        </div>
        <!-- End of progess bar -->
        <!-- End of panel body -->
      </div>
      <!-- End of second screen -->
      <!-- Start of third screen -->
      <div class="panel-body animate-switch" ng-switch-when="3">
        <!-- Start of panel header text -->
        <div class="row">
          <h6 class="col-md-12 welcome-text">New Account Details</h6>
        </div>
        <!-- End of panel header text -->
        <div class="row">
          <!-- Start of message text -->
          <div class="col-md-12">
            <p class="final-detail-text">This is the name and email address you’re using for Drupal site. We’ll use them for Translate.com too, or you can change them here if you want. </p>
          </div>
          <!-- End of message text -->
        </div>
        <!-- Start of register_form -->
        <form name="register_form">
          <!-- Start of panel body -->
          <div class="row">
            <!-- Start of column -->
            <div class="col-md-6">
              <!-- Start of error message -->
              <div uib-alert class="alert-danger" ng-show="password_nomatch == true">Passwords don't match. </div>
              <div uib-alert class="alert-danger" ng-show="password_insecure && !password_nomatch">Choose more secure password. </div>
              <div uib-alert class="alert-danger" ng-show="err_msg != ''">
                {{err_msg}}
              </div>
              <!-- End of error message -->
              <div class="row">
                <div class="form-group col-md-6">
                  <input type="text" class="custom-input form-control" ng-model="user.first_name" placeholder="First Name" required>
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="custom-input form-control" ng-model="user.last_name" placeholder="Last Name" required>
                </div>
              </div>
              <div class="form-group">
                <input type="email" class="custom-input form-control" ng-model="user.email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <input type="{{password_type}}" class="custom-input form-control" ng-model="user.password" placeholder="Pick a password" required>
                  <div class="input-group-addon btn" ng-click="password_type = (password_type == 'password') ? 'text' : 'password'">
                    <span class="fa" ng-class="{'fa-eye-slash': password_type == 'text', 'fa-eye': password_type == 'password'}"></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <input type="{{cf_password_type}}" class="custom-input form-control" ng-model="
                  user.cf_password" placeholder="Confirm Password" required>
                  <div class="input-group-addon btn" ng-click="cf_password_type = (cf_password_type == 'password') ? 'text' : 'password'">
                    <span class="fa" ng-class="{'fa-eye-slash': cf_password_type == 'text', 'fa-eye': cf_password_type == 'password'}"></span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of column -->
          </div>
          <!-- Start of progess bar -->
          <div class="row">
            <div class="col-md-4 back-link">
              <a ng-click="next_step(2)" href="#"><i class="fa fa-angle-left" aria-hidden="true"> </i> back</a>
            </div>
            <div class="text-center col-md-4 pgbar">
              <button type="button" class="btn btn-default btn-circle" ng-click="next_step(1)" ng-class="{prog : step==1}"></button>
              <button type="button" class="btn btn-default btn-circle" ng-click="next_step(2)" ng-class="{prog : step==2}"></button>
              <button type="button" class="btn btn-default btn-circle" ng-click="!(user.translation_languages.length <= 0) && next_step(3)" ng-class="{prog : step==3}"></button>
            </div>
            <div class="col-md-4">
              <input type="submit" ng-click="register_form.$valid && save_user(true)" class="btn btn-info next-btn cus-btn" ng-if="plan.name == 'Free'" value="Done!">
              <button type="submit" ng-click="register_form.$valid && save_user(false)" ng-if="plan.name != 'Free'" class="btn btn-primary cus-btn btn-lg">Next <i class="fa fa-angle-right" aria-hidden="true"></i></button>
            </div>
          </div>
          <!-- End of progess bar -->
        </form>
        <!-- End of register_form -->
        <!-- End of panel body -->
      </div>
      <!-- End of third screen -->
      <!-- Start of sixth screen -->
      <div class="panel-body animate-switch" ng-switch-when="6">
        <h6 class="col-md-12 welcome-text success_string">Translate.com’s Website Localizer</h6>
        <div class="col-md-12">
          <p class="final-detail-text success_string">To order professional human translations or to manage and customize your translations for this website, please visit your <a href="https://translate.com/"><b>Translate.com Customer Portal.</b></a></p>
        </div>
        <!-- Start of button -->
        <div class="col-md-12">
          <a class="btn btn-custom-lg btn-primary view-web btn-lg" href="https://www.translate.com/website_localizer/add_select" target="_blank">Translate.com Customer Portal <i class="fa fa-external-link-square" aria-hidden="true"></i> </a>
        </div>
        <!-- End of button -->
        <div class="col-md-12">
          <p class="final-detail-text success_string">If you need to connect this website to a different Translate.com account, click <a href="#" ng-click="sign_out()"><b>Sign Out.</b></a></p>
        </div>
        <div class="col-md-12">
          <button class="btn btn-primary btn-lg view-web" ng-click="sign_out()">Sign Out</button>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center login_popup">
            Don't hesitate mailing to <a href="mailto:support@translate.com"><b>support@translate.com</b></a> if you have any questions!
          </div>
        </div>
      </div>
      <!-- End of sixth screen -->
      <!-- Start of fifth screen -->
      <div class="panel-body animate-switch" ng-switch-when="5">
        <!-- Start of message -->
        <div class="row">
          <div class="col-md-12">
            <img src="img/success.png" class="success_string" />
          </div>
          <div class="col-md-12">
            <p class="final-detail-text">You are all set. You will start to see machine translations populate on your website over the next few hours.</p>
          </div>
        </div>
        <!-- End of message -->
        <!-- Start of task list -->
        <div class="row">
          <div class="col-md-12">
            <a class="btn btn-primary btn-custom-lg btn-lg center-block view-web" href="{{user.domain}}" target="_blank">View Your Website <i class="fa fa-external-link-square" aria-hidden="true"></i>
          </a>
          </div>
          <div class="col-md-12">
            <p class="final-detail-text">From your Translate.com customer portal you can:</p>
          </div>
          <div class="col-md-12">
            <ul>
              <li class="final-detail-text">Order human translations</li>
              <li class="final-detail-text">Manage and refine your translations</li>
              <li class="final-detail-text">Customize your language widget</li>
            </ul>
          </div>
          <!-- Start of button -->
          <div class="col-md-12">
            <a class="btn btn-custom-lg btn-primary center-block btn-lg view-web" href="https://www.translate.com/website_localizer/add_select" target="_blank">Translate.com Customer Portal <i class="fa fa-external-link-square" aria-hidden="true"></i></a>
          </div>
          <!-- End of button -->
        </div>
        <!-- End of task list -->
        <p class="final-detail-text"><b>Happy Translating!</b></p>
      </div>
      <!-- End of fifth screen -->
    </div>
    <!-- End of panel -->
  </div>
  <!-- Start of footer -->
  <footer class="footer">
    <div class="container">
      <p class="text-muted">
        &copy; 2017
        <a href="mailto:support@translate.com">Contact Us</a> |
        <a href="https://www.translate.com/legal" target="_blank">Legal</a>
      </p>
    </div>
  </footer>
  <!-- End of footer -->
</body>

</html>
